<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dự toán xây dựng - Nhóm 2 - ISC</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navar bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ve Sầu</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Construction<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Park construction</a></li>
          <li><a href="#">Brigde construction</a></li>
          <li><a href="#">Train construction</a></li>
        </ul>
      </li>
      <li><a href="#">Supplier</a></li>
      <li><a href="#">Investor</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
<!-- End navar bar -->
<!-- About dự toán xây dựng -->
<div classs="jumbotron">
  <div class="media">
    <div class="media-left">
      <img src="img/logo_construction.png" class="img-circle media-object" alt="logo" style="width:450px">
    </div>
    <div class="media-body">
      <h1 class="media-heading">DỰ TOÁN XÂY DỰNG</h1>
      <p>Đến với phần mềm dự toán xây dựng, khách hàng sẽ tiết kiệm được rất nhiều thời gian để quản lý những dự án vừa và nhỏ</p>
      <button type="button" class="btn btn-success btn-lg">Bắt Đầu</button>
    </div>
  </div>
</div>
<!-- End about dự toán xây dựng -->
<!-- Main body -->
<div class="container">
  <h3>Content</h3>
</div>
<!-- End main body -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.slim.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
