<div id="reader-list" class="row" ng-controller="finalExamController">
    <div class="col-sm-6 col-md-4" ng-repeat="reader in readers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-th" aria-hidden="true"></i>
                <b ng-bind="reader.fullName">Trần Nguyễn Thanh Nam</b>
            </div>
            <div class="panel-body">
                <img ng-if="reader.avatar != null" class="pull-left img-thumbnail"
                     style="margin-right: 20px; margin-bottom: 10px"
                     src="http://www.saigontech.edu.vn/lib-api/images/icon1.png" width="64"
                     ng-src="{{ reader.avatar }}">

                <div class="">
                    <strong>Code: </strong> <span ng-bind="reader.code">STU001</span><br>
                    <strong ng-if="reader.email">Email: </strong> <span ng-bind="reader.email">namtnt@yahoo.com</span><br>
                    <strong ng-if="reader.phone">Phone: </strong> <span ng-bind="reader.phone">09238754634</span>
                </div>
            </div>
        </div>
    </div>
</div>